<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header"></head>
    <body>
        <div th:replace="fragments/nav::nav"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>View all Customers</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="customer : ${customers}">
                                <td th:text="${customer.id}"></td>
                                <td th:text="${customer.name}"></td>
                            </tr>
                        </tbody>
                    </table>

                <nav th:replace="fragments/pagination::pagination"></nav>
              </div>
            </div>
        </div>

        <div th:replace="fragments/footer::footer"></div>
    </body>
</html>
