<!DOCTYPE html>
<html>
    <head th:fragment="header">
        <link href="http://fonts.googleapis.com/icon?family=Roboto" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                padding-bottom: 50px;
            }
        </style>
    </head>
    <body>
    </body>
</html>