<!DOCTYPE html>
<html>
    <head>
        <title>Navigation</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav class="navbar navbar-light bg-faded" th:fragment="nav">
            <div class="container">
                <div class="nav navbar-nav">
                    <a class="navbar-brand" href="/">
                        <i class="fa fa-shopping-bag"></i>&nbsp; Shop</a>
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/items">Items</a>
                    <div class="float-xs-right">
                    <a class="navbar-brand nav-item nav-link" href="/cart">
                        <i class="tag tag-primary fa fa-shopping-cart"
                           th:text="${' ' + cart.items.size()}"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>
