<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <h1>Items in you're shopping cart</h1>
        <ul>
            <li th:each="elem : ${items}">
                <span th:text="${elem.key.name}">Item name</span>
                (<span th:text="${elem.key.price}">Item price</span>) <br/>
                There are <span th:text="${elem.value}">Item count</span> items in you're cart.
                <form th:method="DELETE" th:action="@{/cart/items/{id}(id=${elem.key.id})}" >
                    <input type="submit" value="Remove from Cart"/>
                </form>
            </li>
        </ul>

        <form th:method="POST" th:action="@{/orders}" >
            <input type="submit" value="Place an order"/>
        </form>
    </body>
</html>
