<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${item.name}">Item</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <h1 th:text="${item.name}">Item</h1>

        <ul>
            <li>Price: <span th:text="${item.price}">Item price</span></li>
            <li>There are <span th:text="${item.count}">Item count</span> items in store.</li>
        </ul>

    </body>
</html>
