<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
  <div th:replace="fragments/nav::nav"></div>
  <div class="container">
    <div class="row">
        <h1>Your orders</h1>
        <p>This order was made on <span th:text="${{order.orderDate}}"></span></p>
        <p>Total: <span th:text="${#numbers.formatDecimal(order.getTotal(), 0, 2)}"></span></p>

        <table class="table table-hover">
           <thead class="thead-default">
               <tr>
                   <th>Item</th>
                   <th>Count</th>
                   <th>Price</th>
                   <th>Total</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="prod : ${order.productOrders}">
                   <td><a th:href="@{/items/{id}(id=${prod.item.id})}" th:text="${prod.item.name}">Item</a></td>
                   <td th:text="${prod.count}">Count</td>
                   <td th:text="${#numbers.formatDecimal(prod.item.price, 0, 2)}">Price</td>
                   <td th:text="${#numbers.formatDecimal(prod.item.price * prod.count, 0, 2)}">Total</td>
               </tr>
           </tbody>
        </table>



    </div>
  </div>
  <div th:replace="fragments/footer::footer"></div>
</body>
</html>
