<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
	<div th:replace="fragments/nav::nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="${item.name}">Item</h1>
				<p>
					<img width="150" class="img-thumbnail media-object"
						th:src="${item.imageUrl}"
						src="http://lorempixel.com/200/150/cats/1" />
				</p>
				<p>
					Price: <span th:text="${item.price}">Item price</span>
				</p>
				<p>
					There are <span th:text="${item.count}">Item count</span> items in store.
				</p>
				<p>
				    <a th:href="@{/items/{id}/edit(id=${item.id})}" class="btn btn-primary">Edit</a>
				    <a href="#" class="btn btn-danger" onclick="$('#delete-form').submit();">Delete</a>
				</p>
				    <form style="display: hidden;" action="#" id="delete-form" th:action="@{/items/{id}(id=${item.id})}" th:method="DELETE"></form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>
